.outer, .inner {
  box-sizing: content-box;
}

.outer.disabled {
  opacity: .5;
  cursor: not-allowed;
}

.outer {
  display: inline-block;
  width: 2.5em;
  height: 1em;
  border-radius: 10rem;
  position: relative;
  border: .1em solid;
  cursor: pointer;
}

.on {
  background: #28a745;
  border-color: #28a745;
}

.off {
  background: #817f8d;
  border-color: #817f8d;
}

.inner {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  position: absolute;
  transition: left 0.2s;
}

.on .inner {
  left: 60%;
}

.off .inner {
  left: 0;
}
